.form {
     &__group:not(:last-child) {
        margin-bottom: 2rem;
     }

     &__input {
        border: none;
        border-radius: 2px;
        color: inherit;
        font-size: $default-font-size;
        font-family: inherit;
        background-color: rgba($color-white, 0.6);
        padding: 1.5rem 2rem;
        width: 90%;
        display: block;
        border-bottom: 3px solid transparent;
        transition: all 0.5s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);

            &:valid {
                border-bottom: 3px solid $color-primary;
            }

            &:invalid {
                border-bottom: 3px solid $color-secondary-dark;
            }
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
     }

     &__label {
        font-size: 1.18rem;
        font-weight: 700;
        margin-top: 0.7rem;
        margin-left: 2rem;
        display: block;
        transition: all 0.3s;
     }

     &__input:placeholder-shown + &__label {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-4rem);
     }
}