.popup {
    background-color: rgba($color-black, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &__content {
        @include positionCenter;
        background-color: $color-white;
        width: 75%;
        border-radius: 3px;
        box-shadow: 0 1rem 1.5rem rgba($color-black, 0.4);

        display: table;
        overflow: hidden;

        transform: translate(-50%,-50%) scale(0.25);
        opacity: 0;
        transition: all 0.3s 0.2s;
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
    }

    &__right {
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__image {
        width: 100%;
        display: block;
    }

    &__text {
        font-size: 1.4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;
        hyphens: auto;
    }

    //open state

    &:target {
        opacity:1;
        visibility: visible;
    }

    &:target &__content {
        transform: translate(-50%,-50%) scale(1);
        opacity: 1;
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            text-decoration: none;
            position: absolute;
            line-height: 1;
            font-size: 3rem;
            top: 2.5rem;
            right: 2.5rem;
            display: inline-block;
            transition: color 0.2s;
        }

        &:hover {
            color: $color-primary;
        }
    }
}