.u-center-text {text-align: center;}

.u-marginB-XL {margin-bottom: 8rem;}
.u-marginB-L {margin-bottom: 8rem;}
.u-marginB-M {margin-bottom: 4rem;}
.u-marginB-S {margin-bottom: 1.5rem;}

.u-marginT-XL {margin-top: 10rem;}
.u-marginT-L {margin-top: 8rem;}
.u-marginT-M {margin-top: 4rem;}
.u-marginT-S {margin-top: 1.5rem;}