@mixin clearfix {
    &::after{
        clear:both;
        content:"";
        display:table;
    }
    
}

@mixin positionCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

// MEDIA QUERIES

/*
    0px-600px       phone
    600px-900px     tablet-portrait
    900px-1200px    tablet-landscape
    1200px-1800px   desktop(main css)
    1800px+         big desktops
*/

@mixin respond($breakpoint) {

    @if $breakpoint == phone {
        @media (max-width:37.5em) {@content};
    }

    @if $breakpoint == tab-port {
        @media (max-width:56.25em) {@content};
    }

    @if $breakpoint == tab-land {
        @media (max-width:75em) {@content};
    }

    @if $breakpoint == big-desktop {
        @media (min-width:117.5em) {@content};
    }
    
}